<footer class="">
  <div class="d-flex justify-content-end mb-5 me-5 fixed-bottom">
    <button onclick="topFunction()" class="topBtn fw-bold" title="Go to top">Top</button>
  </div>
  <nav class="navbar d-flex justify-content-center align-content-center opacity-75" style="background-color: #f38524; height: 3rem;">
      <a class="text-decoration-none text-white" href="#">
        🍧 Supported by HyperGrowth 🍧
      </a>
  </nav>
</footer>
<script>
  // Get the button:
let mybutton = document.getElementById("myBtn");

// When the user scrolls down 20px from the top of the document, show the button
window.onscroll = function() {scrollFunction()};

function scrollFunction() {
  if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
    mybutton.style.display = "block";
  } else {
    mybutton.style.display = "none";
  }
}

// When the user clicks on the button, scroll to the top of the document
function topFunction() {
  document.body.scrollTop = 0; // For Safari
  document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
}
</script>