.lower-navbar {
  background-color: #f38524;
  color: white;
  position: fixed;
  top: 80px;
  left: 50%;
  z-index: 100;
  width: 100%;
  transform: translate(-50%);
  transition: top 0.2s ease-in-out;
}

/* JS로 추가 */
.nav-up {
  top: -80px;
}

.btn-orange {
  background-color: white;
  color: #f38524;
  border: 1px solid #f38524;
}

.btn-orange:hover {
  background-color: #f38524;
  color: white;
  border: 1px solid #f38524;
}

.btn-pink {
  background-color: white;
  color: #ea449a;
  border: 1px solid #ea449a;
}

.btn-pink:hover {
  background-color: #ea449a;
  color: white;
  border: 1px solid #ea449a;
}

.btn-search {
  background-color: #ea449a;
  color: white;
  border: 1px solid #ea449a;
}

.btn-search:hover {
  background-color: white;
  color: #ea449a;
  border: 1px solid #ea449a;
}

.nav1-text:hover {
  color: #ea449a;
}

.nav2-text:hover {
  font-weight: bold;
  margin-right: -1.5px;
}

.nav2-mypage:hover {
  font-weight: bold;
}

/* Medium devices (tablets, 768px and up) 
The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {
  .dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
    border-radius: 0;
  }
}

/* ㅡㅡㅡㅡㅡㅡㅡㅡ 아래 성민 ㅡㅡㅡㅡㅡㅡㅡㅡ */
.black {
  color: black;
}

.pink {
  color: #ea449a;
}

.pink-btn {
  color: white;
  background-color: #ea449a;
}

.pink-btn:hover {
  color: #ea449a;
  background-color: white;
}

.picker {
  color: #ea449a;
}

.picker:hover {
  color: #ea449a;
  background-color: rgb(228, 224, 224);
}