{% extends 'base.html' %}

{% block content %}
  <div class="container my-4">
    <h1>팔로잉한 유저의 글</h1>
  </div>
  <hr>
  <!-- content -->
  <div class="flex-wrap my-3 pb-5" style="min-height: 70vh;">
    <main class="container d-flex justify-content-center">
      <section class="container" style="width: 100%; height: auto;">
        <table class="d-block">
          <div class="row border border-dark border-2">
            {% for article in page_list %}
              <!--각각의 글들-->
              <div class="d-block">
                <div class="text-center w-75 mx-auto my-2 d-flex justify-content-around align-items-center">
                  {% if article.image %}
                    <!--이미지-->
                    <img src="{{ article.image.url }}" class="card-img-top" alt="..." style="float: left; width:100px; height:100px;">
                  {% else %}
                    <!--이미지 없을시-->
                    <img src="https://dummyimage.com/50x50/000000/c4c4c4" class="card-img-top">
                  {% endif %}
                  <div>
                    <!--본문-->
                    <h5 class="my-2">{{ article.title }}</h5>
                    <p class="text-muted mb-2">
                      <a href="{% url 'accounts:profile' article.user.username %}" class="text-dark text-decoration-none">{{ article.user.username }}</a>
                      <!--user페이지 링크-->
                    </p>
                    <p class="mb-2">{{ article.created_at|date:'SHORT_DATETIME_FORMAT' }}</p>
                    <!--날짜-->
                  </div>
                  <a href="{% url 'articles:detail' article.pk %}" class="btn btn-outline-primary my-3">CHECK</a>
                  <!--디테일링크-->
                </div>
              </div>
            {% endfor %}
          </div>
        </table>
        <!-- 페이징처리 시작 -->
        <ul class="pagination justify-content-center my-3">
          <!-- 이전페이지 -->
          {% if page_list.has_previous %}
            <li class="page-item">
              <a class="page-link" href="?page={{ page_list.previous_page_number }}">이전</a>
            </li>
          {% else %}
            <li class="page-item disabled">
              <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>
            </li>
          {% endif %}
          <!-- 페이지리스트 -->
          {% for page_number in page_list.paginator.page_range %}
            {% if page_number >= page_list.number|add:-5 and page_number <= page_list.number|add:5 %}
              {% if page_number == page_list.number %}
                <li class="page-item active" aria-current="page">
                  <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
                </li>
              {% else %}
                <li class="page-item">
                  <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
                </li>
              {% endif %}
            {% endif %}
          {% endfor %}
          <!-- 다음페이지 -->
          {% if page_list.has_next %}
            <li class="page-item">
              <a class="page-link" href="?page={{ page_list.next_page_number }}">다음</a>
            </li>
          {% else %}
            <li class="page-item disabled">
              <a class="page-link" tabindex="-1" aria-disabled="true" href="#">다음</a>
            </li>
          {% endif %}
        </ul>
        <!-- 페이징처리 끝 -->
      </section>
    </main>
  </div>
{% endblock content %}