{% extends 'base.html' %}

{% block content %}
  <div class="container my-4">
    <h1>{{ user.username }}님의 프로필</h1>
  </div>
  <div class="p-4">
    <div class="row mx-auto mb-3 py-3 rounded bg-light border">
      <div class="col-2 my-3 d-flex justify-content-center align-items-center">
        {% if user.profile %}
          <img src="{{ user.profile.url }}" class="rounded img-fluid" alt="{{ user.profile }}" style="width:150px;"></td>
        {% else %}
          <img src="https://source.boringavatars.com/bauhaus/150/{{ user.email }}" class="rounded img-fluid" alt="{{ user.email }}" style="width:150px;"></td>
        {% endif %}
      </div>
      <div class="col-8 my-3 d-flex flex-column justify-content-center">
        <h2 class="my-2">{{ user.nickname }}</h2>
        <h5 class="my-2">{{ user.email }}</h5>
        <h5 class="my-2">
          팔로잉 : <span id="followings-count">{{ user.followings.count }}</span>명 | 
          팔로워 : <span id="followers-count">{{ user.followers.count }}</span>명
        </h5>
      </div>
      <div class="col-2 my-3 d-flex justify-content-center align-items-center">
        {% if request.user.is_authenticated %}
          {% if request.user != user %}
            <form id="follow-form" data-user-name="{{ user.username }}">
              {% csrf_token %}
              {% if request.user in user.followers.all %}
                <button id="follow-btn" class="btn btn-success" type="submit">언팔로우</button>
              {% else %}
                <button id="follow-btn" class="btn btn-outline-success" type="submit">팔로우</button>
              {% endif %}
            </form>
          {% else %}
            <button class="btn btn-outline-success disabled">팔로우</button>
          {% endif %}
        {% else %}
          <button class="btn btn-outline-success disabled">팔로우</button>
        {% endif %}
      </div>
    </div>
    <div class="row mx-auto mb-3 py-3 rounded bg-light border">
      <div class="col-2 my-3">
        <div class="list-group">
          <button type="button" class="list-group-item list-group-item-action">작성한 글</button>
        </div>
      </div>
      <div class="col-10">
        <div class="user-articles d-block">
          <div class="row justify-content-center">
            {% for article in paginated_user_articles_lists %}
              <!--각각의 글들-->
              <div class="col-4 d-block">
                <div class="card text-center w-75 mx-auto my-2">
                  {% if article.image %}
                  <!--이미지-->
                    <img src="{{ article.image.url }}" class="card-img-top" alt="...">
                  {% else %}
                  <!--이미지 없을시-->
                    <img src="https://dummyimage.com/1200x960/000000/c4c4c4" class="card-img-top">
                  {% endif %}
                  <div class="card-body">
                    <!--본문-->
                    <h5 class="card-title card_color">{{ article.title }}</h5>
                    <p class="text-muted">
                      {% if request.user == article.user %}
                        <a href="{% url 'accounts:mypage' %}" class="text-dark text-decoration-none">{{ article.user.username }}</a>
                      {% else %}
                        <a href="{% url 'accounts:profile' article.user.username %}" class="text-dark text-decoration-none">{{ article.user.username }}</a>
                      {% endif %}
                      <!--user페이지 링크-->
                    </p>
                    <p>{{ article.created_at|date:'SHORT_DATETIME_FORMAT' }}</p>
                    <!--날짜-->
                    <a href="{% url 'articles:detail' article.pk %}" class="btn btn-outline-primary my-3">CHECK</a>
                    <!--디테일링크-->
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
          <ul class="pagination justify-content-center align-end">
            <!-- 이전 페이지 -->
            {% if paginated_user_articles_lists.has_previous %}
              <!-- 이전 페이지 있으면 연결-->
              <li class="page-item">
                <a class="page-link" tabindex="-1"  href="?user-articles-page={{ paginated_user_articles_lists.previous_page_number }}">&laquo;</a>
              </li>
            {% else %}
              <li class="page-item disabled">
                <a class="page-link" href="#">&laquo;</a>
              </li>
            {% endif %}
            <!-- 페이지 리스트 -->
            {% for page_number in paginated_user_articles_lists.paginator.page_range %} <!--페이지 범위를 하나씩 리턴-->
              <!--현재 페이지일 때는 active-->
              {% if page_number == paginated_user_articles_lists.number %} 
                <li class="page-item active" aria-current="page">
                  <a class="page-link" href="?user-articles-page={{ page_number }}">{{ page_number }}</a>
                </li>
              {% else %}
                <li class="page-item">
                  <a class="page-link" href="?user-articles-page={{ page_number }}">{{ page_number }}</a>
                </li>
              {% endif %}
            {% endfor %}
            <!-- 다음 페이지 -->
            {% if paginated_user_articles_lists.has_next %}
              <li class="page-item">
                <a class="page-link" href="?user-articles-page={{ paginated_user_articles_lists.next_page_number }}">&raquo;</a>
              </li>
            {% else %}
              <li class="page-item disabled">
                <a class="page-link" tabindex="-1" href="#">&raquo;</a>
              </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script>
    const followForm = document.querySelector("#follow-form")
    const csrftoken = document.querySelector("[name=csrfmiddlewaretoken]").value
    
    followForm.addEventListener("submit", function (event) {
      event.preventDefault()
      axios({
        method: "POST",
        url: `/accounts/follow/${event.target.dataset.userName}/`,
        headers: {'X-CSRFToken': csrftoken},
      })
      .then(response => {
        const isFollowed = response.data.is_followed
        const followBtn = document.querySelector('#follow-form > #follow-btn')
        const followersCountTag = document.querySelector('#followers-count')
        const followingsCountTag = document.querySelector('#followings-count')

        if (isFollowed) {
          followBtn.classList.add("btn-success")
          followBtn.classList.remove("btn-outline-success")
          followBtn.innerText = "언팔로우"
        }
        else {
          followBtn.classList.add("btn-outline-success")
          followBtn.classList.remove("btn-success")
          followBtn.innerText = "팔로우"
        }
        followersCountTag.innerText =  response.data.followers_count
        followingsCountTag.innerText = response.data.followings_count
      })
      .catch(error => {
        console.log(error.response)
      })
    })
  </script>
{% endblock content %}